<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DickVSSnakes</title>

    <link href='~/css/game.css' rel='stylesheet' type='text/css' media='screen' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DickVSSnakes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - DickVSSnakes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <!-- Libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <script src='~/js/game.js'></script>
    <script src='~/js/enums/Direction.js'></script>
    <script src='~/js/enums/GameEvent.js'></script>
    <script src='~/js/enums/PopupState.js'></script>
    <script src='~/js/geometry/Point.js'></script>
    <script src='~/js/shapes/abstract/Shape.js'></script>
    <script src='~/js/shapes/deco/DecoSea.js'></script>
    <script src='~/js/shapes/ephemeral/BonusMalus.js'></script>
    <script src='~/js/shapes/ephemeral/Star.js'></script>
    <script src='~/js/shapes/ephemeral/bonus/Bonus.js'></script>
    <script src='~/js/shapes/ephemeral/bonus/BonusLife.js'></script>
    <script src='~/js/shapes/ephemeral/malus/Malus.js'></script>
    <script src='~/js/shapes/ephemeral/malus/MalusSnake.js'></script>
    <script src='~/js/shapes/ephemeral/malus/MalusSnakeBlack.js'></script>
    <script src='~/js/shapes/ephemeral/malus/MalusSnakeGreen.js'></script>
    <script src='~/js/shapes/ephemeral/malus/MalusSnakeRed.js'></script>
    <script src='~/js/shapes/obstacles/ObstacleBox.js'></script>
    <script src='~/js/shapes/obstacles/ObstacleGround.js'></script>
    <script src='~/js/shapes/Player.js'></script>
    <script src='~/js/helpers/ChronoHelper.js'></script>
    <script src='~/js/helpers/TopbarHelper.js'></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
