<!DOCTYPE html>
<html>
<head>
    @{
        ViewData["Title"] = "Home Page";
    }

    <meta charset='utf-8'>
    <title>Dick VS Snakes</title>

    <link href='/css/index.css' rel='stylesheet' type='text/css' media='screen' />

    <!-- Libs -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src='/lib/jquery/jquery.js'></script>
    <script src='/lib/jquery.colorbox/jquery.colorbox.js'></script>

    <script src='/js/index.js'></script>

    <!-- Enums -->
    <script src='~/js/enums/Direction.js'></script>
    <script src='~/js/enums/PopupState.js'></script>

    <!-- Geometry -->
    <script src='~/js/geometry/Point.js'></script>

    <!-- Abstract -->
    <script src='~/js/shapes/abstract/Shape.js'></script>

    <!-- Deco -->
    <script src='~/js/shapes/deco/DecoSea.js'></script>

    <!-- Ephemeral -->
    <script src='~/js/shapes/ephemeral/BonusMalus.js'></script>
    <script src='~/js/shapes/ephemeral/Star.js'></script>
    <script src='~/js/shapes/ephemeral/bonus/Bonus.js'></script>
    <script src='~/js/shapes/ephemeral/bonus/BonusLife.js'></script>
    <script src='~/js/shapes/ephemeral/malus/Malus.js'></script>
    <script src='~/js/shapes/ephemeral/malus/MalusSnake.js'></script>
    <script src='~/js/shapes/ephemeral/malus/MalusSnakeBlack.js'></script>
    <script src='~/js/shapes/ephemeral/malus/MalusSnakeGreen.js'></script>
    <script src='~/js/shapes/ephemeral/malus/MalusSnakeRed.js'></script>

    <!-- Obstacles -->
    <script src='~/js/shapes/obstacles/ObstacleBox.js'></script>
    <script src='~/js/shapes/obstacles/ObstacleGround.js'></script>

    <!-- Player -->
    <script src='~/js/shapes/Player.js'></script>

    <!-- Helpers -->
    <script src='/js/helpers/ChronoHelper.js'></script>
    <script src='/js/helpers/TopbarHelper.js'></script>

    @*<script src='/js/_tests/object.js'></script>
        <script src='/js/_tests/scope.js'></script>
        <script src='/js/_tests/strictMode.js'></script>
        <script src='/js/_tests/this.js'></script>*@

</head>
<body>
    <div>
        <div id='stat'>
            <table>
                <tr>
                    <td>
                        <span style='float:left;'>
                            <span id='chrono'>
                                <img src='img/topbar/chronoNormal.png' alt='' width='30' height='30' />
                                <span>-</span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <span style='float:right; margin-right: 10px;'>
                            <span id='countBonusLife'>
                                <img src='img/topbar/bonusLifeNormal.png' alt='' width='30' height='30' />
                                <span>-</span>
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div id='canvasContainer'>
            <canvas id='gameCanvas' width='1000' height='600'  />
        </div>
    </div>
</body>
</html>