<!DOCTYPE html>
<html>
<head>
    @{
        ViewData["Title"] = "Home Page";
    }

    <meta charset='utf-8'>
    <title>Dick VS Snakes</title>

</head>
<body>
    <div>
        <div id='stat'>
            <table>
                <tr>
                    <td>
                        <span style='float:left;'>
                            <span id='chrono'>
                                <img src='img/topbar/chronoNormal.png' alt='' width='30' height='30' />
                                <span>-</span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <span style='float:right; margin-right: 10px;'>
                            <span id='countBonusLife'>
                                <img src='img/topbar/bonusLifeNormal.png' alt='' width='30' height='30' />
                                <span>-</span>
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div id='canvasContainer'>
            <canvas id='gameCanvas' width='1000' height='600' />
        </div>
    </div>
    <div id="youLoseModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You lose :(
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Play again</button>
                </div>
            </div>
        </div>
    </div>
    <div id="youWinModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You win :)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div id="gameFinishedModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You win, game finished ! :)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Play again</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>